<button ng-click='resetCenter()'>reset center</button>
<button ng-click='resetBounds()'>reset bounds</button>
<button ng-click='reset()'>reset markers</button>
<button ng-click='resetHard()'>reset hard</button>
<button ng-click='resetPolygons()'>reset polygons</button>
<button ng-click='resetPolygonsHard()'>reset polygons hard</button>
<button ng-click='resetCircles()'>reset circles</button>
<map type='terrain' center="map.center" zoom="map.zoom" bounds="map.bounds" draggable="true" pan="true" events="map.events">
  <!-- <marker ng-repeat="marker in markers track by marker.id" position="marker" icon="marker.icon" events='map.markerEvents'></marker> -->
  
  <markers data="markers" track-by="id" position="self" icon="icon" events='map.markerEvents' fit="true" label-text="name"></markers>

  <polygon ng-repeat="polygon in polygons track by polygon.id" options="polygon.options" events='map.polygonEvents'>
    <path coordinates="polygon.path"></path>
  </polygon>

  <circle ng-repeat="circle in circles track by circle.id" center="circle.center" radius="circle.radius"></circle>
</map>
